/* styling for map */
body {
  font-family: "Open Sans", sans-serif;
}

.container {
  position: relative;
  max-width: 1520px;
  width: 100%;
  padding: 0;
  margin: 0 auto;
}

.fixed {
  width: 100%;
  max-width: 1520px;
}

/*** New CSS **/
.btn-group {
  width: 100%;
  display: flex;
  margin: 4em auto;
  padding: 0px 9em;
}

.btn-group>a {
  width: 48%;
  border-radius: 0.5rem !important;
  height: 60px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px 40px;
  /* text-align: left;
  padding-left: 2em; */
}

.btn-group .btn>img {
  width: 50px;
  height: 50px;
  margin-right: 1em;
  position: absolute;
  left: 2.1rem;
  top: 5px;
  /* Adjust margin as needed */
}

.btn-group>.btn:not(:first-child) {
  float: right;
}

.btn-group .btn-secondary {
  color: #000000;
  background-color: transparent;
  font-size: 1.4rem;
  font-family: 'Avenir', sans-serif;
}

.btn-group>.btn-secondary:not(:disabled):not(.disabled).active {
  background-color: #d2f1fd;
  color: #000000;
}

@media screen and (max-width: 1300px) {
  .btn-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .btn-group>a {
    margin: 20px 0px;
  }
}

@media screen and (max-width: 768px) {
  .logo-tagline {
    display: none;
  }

}

#map {
  min-width: calc(710px - 10%);
  width: 100%;
  height: calc(100% - 70px);
}

/* styling for navbar */
nav {
  height: 70px;
  min-width: 100%;
  background-color: #0b3145;
}

nav .navbar-brand,
nav img {
  height: 100%;
  font-size: 1.25rem;
}

#state-legends {
  border-radius: 3px;
  padding: 0px;
  position: absolute;
  z-index: 1;
  bottom: 25%;
  right: 1%;
}

#state-legends>div {
  background-color: #f0ad4e !important;
  font-weight: 700;
}

#state-legends span {
  margin-top: 2px;
}

.mapboxgl-popup-close-button {
  font-size: 25px;
}

.gray {
  color: "#C0C0C0";
}

.dropdown-container {
  display: flex;
  width: 100%;
  align-items: stretch;
  justify-content: start;
}

@media screen and (max-width: 500px) {
  .dropdown-container {
    flex-direction: column;
  }

}

.heading-container {
  background-color: #cccccc;
  padding: 1.5rem 2.1rem;
  width: 100%;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 500px) {
  .heading-container {
    justify-content: center;
    align-items: flex-start;
    padding-left: 1.1rem;
  }

}

.heading {
  font-size: 1rem;
  font-weight: 700;
  margin: 0%;
  text-transform: uppercase;
}

@media screen and (max-width: 500px) {
  .heading {
    text-align: center;
  }

}

.anchor {
  background-color: #0a3145 !important;
  border-color: #0a3145 !important;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0%;
}

@media screen and (max-width: 900px) {
  .anchor {
    white-space: break-spaces;
    text-align: left;
  }

}

#score-dropdown-menu {
  max-height: 500px;
  overflow-y: auto;
  min-width: 500px;
  padding: 0;
  margin: 0;

}

@media screen and (max-width: 500px) {
  #score-dropdown-menu {
    transform: translate3d(0px, 84px, 0px) !important;
    min-width: 100%;
  }

}

.wrapper {
  width: calc(260px + 10%);
  height: calc(100% - 70px);
}

#middle-visual-container {
  width: 100%;
  height: auto;
  background-color: #e5f7fd;
}

.bg-blue {
  background-color: #005778;
  
}

.bg-dark-blue {
  background-color: #0a3145;
}

.wrapper .card-header {
  background-color: #00aeef;
  border-radius: 0;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 700;
  padding: 1.5rem 2.1rem;
  font-family: "Open Sans", sans-serif;

}

.wrapper .policy-category-header {
  background-color: #5b6a7a;
  color: #fff;
  padding: 0.5rem 0.75rem;
  text-align: center;
  font-size: 1rem;
}

.wrapper .policy-category-body {
  padding: 2.1rem;

}

.wrapper .policy-category-body ul {
  padding-left: 0rem;
  column-count: 2;
}

@media screen and (max-width: 500px) {
  .wrapper .policy-category-body ul {

    column-count: 1;
  }

}


.wrapper .policy-category-body div {
  break-inside: avoid;
  padding-bottom: 1rem;
}

.wrapper .policy-category-body div a.text-success {
  color: #005778 !important;
}


.wrapper .policy-category-body li {
  list-style: none;
}

.wrapper .policy-category-body>p {
  margin-bottom: 0rem;
  line-height: 1.2em;
  color: #000102 !important;
  font-weight: 700;
}

.wrapper .policy-category-body p {
  margin-bottom: 0rem;
  line-height: 1.2em;
  font-weight: 400;
  color: #000102 !important;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(200, 200, 200, 1);
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #637c95;
  -webkit-box-shadow: inset 0 0 6px rgba(90, 90, 90, 0.7);
}

@media screen and (max-width: 1024px) {

  /* styling for map */
  #map {
    min-width: calc(508px - 10%);
    height: calc(100% - 60px);
    width: 100%;
  }

  /* styling for navbar */
  nav {
    height: 60px;
  }

  nav .navbar-brand,
  nav img {
    font-size: 1rem;
  }

  .btn-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 2em;
  }

  .btn-group>a {
    width: 100%;
    margin: 0.5em 0;
  }

  .navbar .btn {
    padding: 0.3rem 0.5rem;
    font-size: 0.75rem;
    line-height: normal;
    border-radius: 0.25rem;
  }

  .wrapper {
    top: 60px;
    height: calc(100% - 60px);
  }
}

