html, body {
    max-width: 100%;
    overflow-x: hidden;
}

#state-legends {    
    border-radius: 3px;    
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);    
    padding: 0px;    
    position: absolute;    
    z-index: 1;
    bottom: 25%;
    right: 3%;
}    

#state-legends span {
    margin-top: 2px;
}


.mapboxgl-popup-close-button {
    font-size: 25px;     
}
.gray {
    color: "#C0C0C0";
}

#score-dropdown {
    right: 2%; 
    top: 2%; 
    position: absolute; 
    z-index: 1;
}

#score-dropdown-menu {
    max-height: 500px; 
    overflow-y: auto; 
    min-width: 500px;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    left:25%
}

.wrapper {
    position:absolute;
    z-index:1;
    left:5px; 
    width:25%;
    overflow-y:scroll; 
    height:100%
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(200,200,200,1);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #17a2b8;
    -webkit-box-shadow: inset 0 0 6px rgba(90,90,90,0.7);
}