html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.mapboxgl-popup-close-button {
    font-size: 25px;     
}

.legend {
    bottom: 30px;   
    left: 27%;
    font: 20px/40px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    width: 200px;
    height: 210px;     
    border-radius: 3px;    
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);    
    padding: 0px;
    position: absolute;    
    z-index: 1;  
}

.legend div span {
    height: 20px;    
    width: 20px; 
    border-radius: 50%;
    display: inline-block;    
    margin-right: 5px;     
}

#score-dropdown {
    right: 2%; 
    top: 2%; 
    position: absolute; 
    z-index: 1;
}

#score-dropdown-menu {
    max-height: 500px; 
    overflow-y: auto; 
    min-width: 500px;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    left:25%
}

.wrapper {
    position:absolute;
    z-index:1;
    left:5px; 
    width:25%;
    overflow-y:scroll; 
    height:100%
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(200,200,200,1);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #17a2b8;
    -webkit-box-shadow: inset 0 0 6px rgba(90,90,90,0.7);
}