#map {
  position: absolute;
  top: 80px;
  bottom: 0;
  width: 100%;
  height: calc(80% - 80px);
}

#state-legends {
  border-radius: 3px;
  padding: 0px;
  position: absolute;
  z-index: 1;
  bottom: 25%;
  right: 3%;
}

#state-legends .state-badge {
  background-color: #cdcdcd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  text-align: center;
}

#bottom-dash {
  position: absolute;
  background-color: #17a2b8;
  bottom: 0;
  width: 100%;
  height: 20%;
}
