#map {
  position: absolute;
  bottom: 0;
  width: 100%;
  top: 7%;
  height: 73%;
}

nav {
  height: 7%;
  background-color: #0b3145;
}

nav .navbar-brand,
nav img {
  height: 100%;
}

.navbar .navbar-btn {
  color: #fff;
  background-color: #0b3145;
}

.navbar .navbar-btn:focus {
  background-color: #1d4c67;
}

#topleft-card {
  position: absolute;
  top: 90px;
  left: 10px;
  background-color: rgba(250, 250, 250, 0.85);
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 -1px 0px rgba(0, 0, 0, 0.02);
  padding: 20px;
  display: none;
  white-space: nowrap;
  align-items: center;
  justify-content: space-between;
}

#topleft-card hr {
  margin-top: 0.7rem;
  margin-bottom: 0.7rem;
}

#topleft-card #row {
  width: auto;
}

#state-legends {
  border-radius: 3px;
  padding: 0px;
  position: absolute;
  z-index: 1;
  bottom: calc(25% + 50px);
  right: 3%;
}

#state-legends .state-badge {
  background-color: #cdcdcd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  text-align: center;
}

#legend-dropdown {
  position: absolute;
  bottom: 25%;
  left: 20px;
}

.legend {
  width: fit-content;
  line-height: 1;
  background-color: #fff;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.legend div {
  display: flex;
  align-items: center;
}

.legend span {
  display: inline-block;
  margin-left: 5px;
}

/* The color box in the legend */
.legend span:first-child {
  width: 30px;
  height: 30px;
}

#side-dropdown {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
}

#bottom-dash {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #d2dde4;
  bottom: 0;
  width: 100%;
  height: 20%;
}

#bottom-dash .row {
  margin-bottom: 5px;
}

#bottom-dash .btn:hover {
  background-color: #a0acb9;
}

#bottom-dash .chart-header {
  margin-bottom: 10px;
}

#bottom-dash-container {
  background-color: #b8c4d1;
  border-radius: 10px;
  padding: 10px;
  max-height: 90%;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

#state-modal .modal-header span {
  color: #5c6c78;
}

#state-modal .modal-header {
  background-color: #a0acb9;
}

#state-modal .modal-header .container {
  margin-left: 0px;
  width: 80%;
}

#state-modal h2,
h5 {
  margin-bottom: 0px;
}

#state-modal hr {
  margin-top: 0.7rem;
  margin-bottom: 0.7rem;
}

#state-modal #state-modal-title {
  text-shadow: #555 0px 0px 6px;
}

#state-modal .modal-body h4 {
  margin-top: 5px;
  margin-bottom: 2px;
  margin-right: 10px;
}

#state-modal .modal-body span {
  margin-bottom: 2px;
  align-self: end;
}

#state-modal .modal-body hr {
  margin-top: 2px;
  margin-bottom: 5px;
}

@media screen and (max-height: 900px) {
  nav .navbar-brand {
    font-size: 0.8rem;
  }

  nav .btn-group .btn {
    padding: 0.3rem 0.5rem;
    font-size: 0.7rem;
    line-height: normal;
    border-radius: 0.25rem;
  }
}

@media screen and (min-height: 900px) {
  nav .navbar-brand {
    font-size: 1.25rem;
  }
}
